body, 
html {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header__inner{
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-weight: 500;
    font-size: 25px;
}

.menu__list{
    display: flex;
    gap: 55px;
    margin: 0;
}

.menu__list-link{
    text-decoration: none;
    color: #000;
    font-weight: 400;
    font-size: 14px;
    transition: color 0.5s;
}

.menu__list-link:hover{
    color: #de8d1b;
}

.location{
    display: flex;
    align-items: center;
}

.location__img{
    height: 15px;
    padding-right: 8px;
}

.chicogo{
    font-weight: 400;
    font-size: 14px;
}

.main__cont{
    padding-top: 67px;
}

.title{
    font-weight: 700;
    font-size: 50px;
    max-width: 350px;
    margin: 0;
    padding-bottom: 53px;
}

.ogl__title{
    font-weight: 600;
    font-size: 22px;
    max-width: 341px;
    text-transform: uppercase;
}

.ogl__text{
    font-weight: 400;
    font-size: 17px;
    max-width: 341px;
    padding-bottom: 29px;
}

.button{
    max-width: 233px;
    width: 100%;
    height: 70px;
    background-color: #B26B40;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    transition: background-color 0.5s;
}

.button:hover{
    background-color: #FCE9DA;
    color: #48423c;
}



.img1{
    margin: 0;
    padding: 0;
    float: right;
}

.img2{
    float: right;
    padding-top: 206px;
    padding-left: 31px;
    margin:0 31px 0 0;
}

.line__img{
    width: 101%;
    margin: -15px;
    position: absolute;
    padding-top: 235px;
    z-index: -1;
}

.field{
    padding-top: 201px;
}

.field__title{
    font-size: 40px;
    font-weight: 700;
}

.field__card{
    display: flex;
    gap: 30px;
}

.card{
    max-width: 380px;
    width: 100%;
    height: 80px;
    background-color: #FCE9DA;
    color: #3D1A04;
    font-size: 25px;
    font-weight: 500;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    transition: background-color 0.5s;
}

.card:hover{
    background-color: #B26B40;
    color: #fff;
}

.workflow__work{
    display: flex;
}

.work__title{
    font-size: 30px;
    font-weight: 700;
    padding-top: 64px;
}

.circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 1px;
    border-color: #3D1A04;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3D1A04;
    font-weight: 300;
    font-size: 25px;
}

.workflow__cont{
    display: flex;
    gap: 188px;
}

.workflow__card-title{
    font-size: 25px;
    font-weight: 600;
}

.workflow__card-text{
    font-size: 17px;
    font-weight: 400;
    max-width: 222px;
}

.portfolio{
    background-color: #FFF9F4;
}

.portfolio__cont{
    max-width: 1060px;
    margin: 0 auto;
    padding: 0;
}

.portfolio__title{
    font-size: 40px;
    font-weight: 700;
    padding-top: 66px;
}

.myfoto{
    float: right;
    margin-top: -52px;
    padding-left: 59px;
}

.portfolio__card{
    max-width: 280px;
    float: right;
    margin-top: -40px;
}

.portfolio__card-title{
    font-size: 30px;
    font-weight: 700;
}

.portfolio__card-text{
    font-weight: 400;
    font-size: 17px;
    line-height: 24.31px;
}

.svaz__title{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
}

.svaz__text{
    font-size: 17px;
    font-weight: 400;
    padding-bottom: 40px;
}

.svaz__img{
    padding-bottom: 66px;
}

.footer{
    display: flex;
    align-items: center;
    padding-top: 130px;
    padding-bottom: 73px;
}

.name{
    padding-right: 394px;
    font-weight: 500;
    font-size: 25px;
}

.footer__elem{
    font-size: 14px;
    font-weight: 500;
}
